
// [ COMPONENT: CTA BUTTON ] 
.CTA {
    max-width: max-content !important;
    padding: 17px 20px;
    color: $white !important;
    font-size: 1.8rem;
    border-radius: 4px;
    background: $purple;
    word-wrap: normal;
    cursor: pointer;
    transition: opacity 0.25s;
    @extend .shadow-purple;

    &-orange {
        background: $orange;
        @extend .shadow-orange;
    }

    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 1;
    }
}
.CTA-small {
    @extend .CTA;
    padding: 10px 15px;
    color: $white;
}